html {
    background-color:  #eee;
}

body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: #414141;
    box-sizing: border-box;
    background-color:  #eee;
}

header {
    text-align: center;
    background-color: #333333;
    padding: 0.5rem;
}
header h1 {
    color: #DD5735;
}
header p {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border: 1px solid #7a1f1f;
}


footer {
    
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 1rem;
}
footer p a {
    color: #DD5735;
}